.app-title {
    background-color: #f9ca32;
    border-radius: 5px;
    color: #000;
    font-size: 26px;
    font-weight: 900;
    padding: 1px 15px;
}
.span-style {
    color: #fff;
    font-size: 13px;
}

.search-bar {
    margin-bottom: 30px;
    margin-top: 70px;
}

.movie-block {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
}